*.dsc
*.tar.xz
*.build
*.buildinfo
*.changes
*.deb
*.tar.gz
*.tar.bz2
*~
*.debhelper
Radiator/debian/radiator.debhelper.log
Radiator/debian/radiator.substvars
Radiator/debian/debhelper-build-stamp
Radiator/debian/stamp-patched
Radiator/logfile
Radiator/logfile2
Radiator/debian/files
Radiator/Makefile.old
Radiator/LICENSE
Radiator/MANIFEST
Radiator/META.json
Radiator/META.yml
Radiator/MYMETA.json
Radiator/MYMETA.yml
Radiator/Makefile
Radiator/Makefile.PL
Radiator/README
Radiator/Radiator.pkginfo
Radiator/Radiator.spec
Radiator/builddbm
Radiator/buildsql
Radiator/detail
Radiator/dictionary
Radiator/dictionary.ascend
Radiator/dictionary.cisco-vpn
Radiator/dictionary.sip
Radiator/eaptest1.dat
Radiator/eaptest2.dat
Radiator/group
Radiator/passwd
Radiator/passwd.md5
Radiator/password.log
Radiator/patches/
Radiator/pm_to_blib
Radiator/portlist
Radiator/ppm/
Radiator/radhostname.pl
Radiator/radius.cfg
Radiator/radius2.cfg
Radiator/radiusd
Radiator/radpwtst
Radiator/test.pl
Radiator/users
Radiator/usersdb.dir
Radiator/usersdb.pag
Radiator/wtmp
Radiator/Radius/
Radiator/blib/
Radiator/certificates/
Radiator/debian/radiator/
Radiator/doc/
Radiator/goodies/
Radiator/licenses/
